<a href="https://colab.research.google.com/github/Samrat-Abdul-Jalil/DNA-Sequencing/blob/main/DNA_Sequencing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
data=pd.read_csv('/content/drive/MyDrive/BI/archive/human.txt')

In [4]:
data.head()

                                     sequence\tclass
0  ATGCCCCAACTAAATACTACCGTATGGCCCACCATAATTACCCCCA...
1  ATGAACGAAAATCTGTTCGCTTCATTCATTGCCCCCACAATCCTAG...
2  ATGTGTGGCATTTGGGCGCTGTTTGGCAGTGATGATTGCCTTTCTG...
3  ATGTGTGGCATTTGGGCGCTGTTTGGCAGTGATGATTGCCTTTCTG...
4  ATGCAACAGCATTTTGAATTTGAATACCAGACCAAAGTGGATGGTG...

In [6]:
data.split(pat=" ")

AttributeError: ignored