<a href="https://colab.research.google.com/github/Samrat-Abdul-Jalil/DNA-Sequencing/blob/main/DNA_Sequencing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
data=pd.read_table('/content/drive/MyDrive/BI/archive/human.txt')

In [ ]:
data.head()

                                            sequence  class
0  ATGCCCCAACTAAATACTACCGTATGGCCCACCATAATTACCCCCA...      4
1  ATGAACGAAAATCTGTTCGCTTCATTCATTGCCCCCACAATCCTAG...      4
2  ATGTGTGGCATTTGGGCGCTGTTTGGCAGTGATGATTGCCTTTCTG...      3
3  ATGTGTGGCATTTGGGCGCTGTTTGGCAGTGATGATTGCCTTTCTG...      3
4  ATGCAACAGCATTTTGAATTTGAATACCAGACCAAAGTGGATGGTG...      3

In [3]:
def k_mer(sec, k):
  all_kmers=[]
  Number_of_Kmers=len(sec)-k+1

  for i in Number_of_Kmers:
    kmer=sec[i:i+k]
    all_kmers.append(kmer)
  return all_kmers